#main-title{
    text-align: center;
    margin: 15px 0 30px;
}

/*******************************************************************************************\
                                            HOME
\*******************************************************************************************/


#contacts-table{
    max-width: 800px;
    margin: 0 auto;
}

#contacts-table thead{
    color: #FFF;
    background-color: #007bFF;
}

.col-id{
    font-weight: bold;
}

.actions{
    text-align: right;
    width: 150px;
}

.actions i{
    font-size: 20px;
    margin-right: 6px;
}

.check-icon{
    color: #1E7E34;
}

.edit-icon{
    color: #007BFF;
}

.delete-btn{
    background:transparent;
    border: none;
}

.delete-icon{
    color: #BD2130;
}

#empty-list-text{
    text-align: center;
}

#msg{
    color: #155724;
    background: #D3EDDA;
    border: 1px solid #C3E6CB; 
    padding: 10px;
    text-align: center;
    max-width: 500px;
    margin: 0 auto;
    margin-top: 30px;
}

/*******************************************************************************************\
                                        CONTATO INDIVIDUAL 
\*******************************************************************************************/

#view-contact-container{
     max-width: 500px;
     margin: 0 auto;
}

.bold{
    font-weight: bold;
}

#back-link-container{
    display:block;
    width: 500px;
    margin-top:30px;

}
#back-link{
    border: 1px solid #007BFF;
    color: #007BFF;
    text-decoration: none;
    padding: 8px;
    border-radius: 5px;
    box-shadow: 3px 3px 5px black;
}

#back-link:hover{
    background: #007BFF;
    color: #FFF;
    box-shadow: none;
}

/*******************************************************************************************\
                                        CREATE
\*******************************************************************************************/

#create-form,
#edit-form{
    max-width: 500px;
    margin: 0 auto;
}

.btn{
    border: 1px solid #007BFF;
    color: #007BFF;
    text-decoration: none;
    padding: 8px;
    border-radius: 5px;
    box-shadow: 3px 3px 5px black;
}

.btn:hover{
    background: #007BFF;
    color: #FFF;
    box-shadow: none;
}

/*******************************************************************************************\
                                        MEDIA QUERIES
\*******************************************************************************************/

@media (max-width:480px){
    #home-link {
        display: none;
    }
}